terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
.firebase/
firebase-debug.log
node_modules/
github-key.json
.env
firebase-deploy-key.json
firebase-deploy-key.json
.firebase/
terraform/.terraform/
terraform/terraform.tfstate
